<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <script>
    fetch('/.netlify/functions/hello')
    .then((result) => result.json())
    .then((result) => console.log(result))
    .catch((err) => console.log(err))
  </script>
  <body>
    <h1>Hey there! 👋</h1>

    <p>This is the HTML connector for the Power-Up. It will be loaded into a hidden iframe when your Power-Up is enabled.</p>
   
    <p>Not sure what is going on? Head on over to the
      <a id="readme" href="https://glitch.com/edit/#!/trello-power-up-skeleton?path=README.md">README</a>.
    </p>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://trello.com/1/client.js?key=4a4f3be9aaba4f56cfa5e357258f1c2e"></script>
    <script src="../public/js/client.js"></script>
  </body>
</html>
